.header{
    padding:3rem 0;
    text-transform: capitalize;
    position: sticky;
    top:0;
    z-index:2;
    background-color: var(--color-background);
    display:flex;
    justify-content: center;
    }
    .header::before{
        content:"";
        position: absolute;
        height:100%;
        width:100vw;
        top:0;
        z-index:-1;
        background-color: var(--color-background);
        border-bottom: 2px solid var(--color-input-border);
    }
    
    .navigation_list{
        display:flex;
        gap: 2rem;
    }
    .navigation_link:link,
    .navigation_link:visited{
        text-decoration: none;
        font-weight: var(--font-weight-medium);
        
    }
    .navigation_link:hover,
    .navigation_link:active{
    text-decoration: underline;
    color:var(--color-text);    
    }
    /* Toggle */
    .toggle{
        display:flex;
        gap:1rem;
        margin-left:auto;
    }
    
    .toggle__title{
        font-weight: var(--font-weight-medium);
        font-size:var(--font-size-18)
    }
    .toggle__checkbox{
        display:none;
    }
    .toggle__label{
        display: block;
        position: relative;
        background-color: var(--color-black);
        border-radius: 1.5rem;
        width:4.5rem;
        height:2.2rem;
        cursor: pointer;
        transition:0.3s;
        padding:0.3rem 0.4rem;
    }
    .toggle__label::after{
        content:"";
        display: block;
        border-radius: 50%;
        width:1.6rem;
        height:1.6rem;
        background-color: var(--color-white);
        transition: 0.3s;
    }
    .toggle__checkbox:checked + .toggle__label{
        background-color: var(--color-white);
        
    }
    .toggle__checkbox:checked + .toggle__label::after{
        background-color: var(--color-green);
        transform: translateX(2.1rem);
    
    }
    
    .container:has(#bio:target) .navigation__bio,
    .container:has(#skills:target) .navigation__skills,
    .container:has(#media:target) .navigation__media,
    .container:has(#projects:target) .navigation__projects,
    .container:has(#clients:target) .navigation__clients,
    .container:has(#contact:target) .navigation__contact
    {
        color:var(--color-blue);
        text-decoration: underline;
        font-weight: var(--font-weight-bold);
        transform:scale(1.2);
        margin:0 5px;
    }
    
    .burger-menu__checkbox{
        display:none;
    }